@charset "utf-8";
*, *::before, *::after {
  box-sizing: inherit; }

.vertical_rythm--block, blockquote,
canvas, dd, dl,
fieldset, figcaption,
form, h1, h2, h3,
h4, h5, h6, hgroup,
hr, main, noscript,
ol, output, p, pre, table, tfoot, ul,
video {
  margin: 0 0 1.5rem; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Roboto", serif;
  font-weight: 700; }

.overflow--scroll {
  overflow: scroll; }
  .overflow--scroll-imp {
    overflow: scroll !important; }
.overflow--xscroll {
  overflow-x: scroll; }
  .overflow--xscroll-imp {
    overflow-x: scroll !important; }
.overflow--xscroll {
  overflow-x: scroll; }
  .overflow--xscroll-imp {
    overflow-x: scroll !important; }
.overflow--hidden {
  overflow: hidden; }
  .overflow--hidden-imp {
    overflow: hidden !important; }
.overflow--xhidden {
  overflow-x: hidden; }
  .overflow--xhidden-imp {
    overflow-x: hidden !important; }
.overflow--yhidden {
  overflow-y: hidden; }
  .overflow--yhidden-imp {
    overflow-y: hidden !important; }

.overflow--hidden {
  overflow: hidden; }
  .overflow--hidden--imp {
    overflow: hidden !important; }

.hide {
  display: none; }
  .hide--imp {
    display: none !important; }

.show {
  display: block; }
  .show--imp {
    display: block !important; }

.visible {
  visibility: visible; }
  .visible--imp {
    visibility: visible !important; }

.not_visible {
  visibility: hidden; }
  .not_visible--imp {
    visibility: hidden !important; }

.block {
  display: block; }
  .block--imp {
    display: block !important; }

.inline_block {
  display: inline-block; }
  .inline_block--imp {
    display: inline-block !important; }

.vert_align--top {
  vertical-align: top; }
  .vert_align--top-imp {
    vertical-align: top !important; }
.vert_align--middle {
  vertical-align: middle; }
  .vert_align--middle-imp {
    vertical-align: middle !important; }
.vert_align--bottom {
  vertical-align: bottom; }
  .vert_align--bottom-imp {
    vertical-align: bottom !important; }
.vert_align--baseline {
  vertical-align: baseline; }
  .vert_align--baseline-imp {
    vertical-align: baseline !important; }

.opacity_show {
  opacity: 1; }
  .opacity_show--imp {
    opacity: 1 !important; }

.opacity_hide {
  opacity: 0; }
  .opacity_hide--imp {
    opacity: 0 !important; }

.height--100 {
  height: 100%; }
  .height--100-imp {
    height: 100% !important; }

.height--vh {
  height: 100vh; }
  .height--vh-imp {
    height: 100vh !important; }

.width--25 {
  width: 25%; }
  .width--25-imp {
    width: 25% !important; }
.width--40 {
  width: 40%; }
  .width--40-imp {
    width: 40% !important; }
.width--50 {
  width: 50%; }
  .width--50-imp {
    width: 50% !important; }
.width--60 {
  width: 60%; }
  .width--60-imp {
    width: 60% !important; }
.width--75 {
  width: 75%; }
  .width--75-imp {
    width: 75% !important; }
.width--100 {
  width: 100%; }
  .width--100-imp {
    width: 100% !important; }

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.vertical_rythm--block {
  display: block; }

.position--relative {
  position: relative; }

.float--right {
  float: right; }

.float--left {
  float: left; }

.mrgn_auto {
  margin-right: auto;
  margin-left: auto; }
  .mrgn_auto--imp {
    margin-right: auto !important;
    margin-left: auto !important; }

.center_all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
.center_vert {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
.center_hori {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.clearfix::before {
  display: table;
  content: ''; }
.clearfix::after {
  display: table;
  clear: both;
  content: ''; }

.mrgn_all--0 {
  margin: 0; }
  .mrgn_all--0-imp {
    margin: 0 !important; }
.mrgn_all--5 {
  margin: 0.5rem; }
  .mrgn_all--5-imp {
    margin: 0.5rem !important; }
.mrgn_all--10 {
  margin: 1rem; }
  .mrgn_all--10-imp {
    margin: 1rem !important; }
.mrgn_all--15 {
  margin: 1.5rem; }
  .mrgn_all--15-imp {
    margin: 1.5rem !important; }
.mrgn_all--20 {
  margin: 2rem; }
  .mrgn_all--20-imp {
    margin: 2rem !important; }
.mrgn_all--25 {
  margin: 2.5rem; }
  .mrgn_all--25-imp {
    margin: 2.5rem !important; }
.mrgn_all--30 {
  margin: 3rem; }
  .mrgn_all--30-imp {
    margin: 3rem !important; }
.mrgn_all--35 {
  margin: 3.5rem; }
  .mrgn_all--35-imp {
    margin: 3.5rem !important; }
.mrgn_all--40 {
  margin: 4rem; }
  .mrgn_all--40-imp {
    margin: 4rem !important; }
.mrgn_all--45 {
  margin: 4.5rem; }
  .mrgn_all--45-imp {
    margin: 4.5rem !important; }
.mrgn_all--50 {
  margin: 5rem; }
  .mrgn_all--50-imp {
    margin: 5rem !important; }
.mrgn_all--55 {
  margin: 5.5rem; }
  .mrgn_all--55-imp {
    margin: 5.5rem !important; }
.mrgn_all--60 {
  margin: 6rem; }
  .mrgn_all--60-imp {
    margin: 6rem !important; }
.mrgn_all--65 {
  margin: 6.5rem; }
  .mrgn_all--65-imp {
    margin: 6.5rem !important; }
.mrgn_all--70 {
  margin: 7rem; }
  .mrgn_all--70-imp {
    margin: 7rem !important; }
.mrgn_all--75 {
  margin: 7.5rem; }
  .mrgn_all--75-imp {
    margin: 7.5rem !important; }
.mrgn_all--80 {
  margin: 8rem; }
  .mrgn_all--80-imp {
    margin: 8rem !important; }
.mrgn_all--85 {
  margin: 8.5rem; }
  .mrgn_all--85-imp {
    margin: 8.5rem !important; }
.mrgn_all--90 {
  margin: 9rem; }
  .mrgn_all--90-imp {
    margin: 9rem !important; }
.mrgn_all--95 {
  margin: 9.5rem; }
  .mrgn_all--95-imp {
    margin: 9.5rem !important; }
.mrgn_all--100 {
  margin: 10rem; }
  .mrgn_all--100-imp {
    margin: 10rem !important; }
.mrgn_vert--0 {
  margin-top: 0;
  margin-bottom: 0; }
  .mrgn_vert--0-imp {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
.mrgn_vert--5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
  .mrgn_vert--5-imp {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important; }
.mrgn_vert--10 {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .mrgn_vert--10-imp {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important; }
.mrgn_vert--15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  .mrgn_vert--15-imp {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; }
.mrgn_vert--20 {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .mrgn_vert--20-imp {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important; }
.mrgn_vert--25 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }
  .mrgn_vert--25-imp {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important; }
.mrgn_vert--30 {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .mrgn_vert--30-imp {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important; }
.mrgn_vert--35 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }
  .mrgn_vert--35-imp {
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important; }
.mrgn_vert--40 {
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .mrgn_vert--40-imp {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important; }
.mrgn_vert--45 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }
  .mrgn_vert--45-imp {
    margin-top: 4.5rem !important;
    margin-bottom: 4.5rem !important; }
.mrgn_vert--50 {
  margin-top: 5rem;
  margin-bottom: 5rem; }
  .mrgn_vert--50-imp {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important; }
.mrgn_vert--55 {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem; }
  .mrgn_vert--55-imp {
    margin-top: 5.5rem !important;
    margin-bottom: 5.5rem !important; }
.mrgn_vert--60 {
  margin-top: 6rem;
  margin-bottom: 6rem; }
  .mrgn_vert--60-imp {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important; }
.mrgn_vert--65 {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem; }
  .mrgn_vert--65-imp {
    margin-top: 6.5rem !important;
    margin-bottom: 6.5rem !important; }
.mrgn_vert--70 {
  margin-top: 7rem;
  margin-bottom: 7rem; }
  .mrgn_vert--70-imp {
    margin-top: 7rem !important;
    margin-bottom: 7rem !important; }
.mrgn_vert--75 {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem; }
  .mrgn_vert--75-imp {
    margin-top: 7.5rem !important;
    margin-bottom: 7.5rem !important; }
.mrgn_vert--80 {
  margin-top: 8rem;
  margin-bottom: 8rem; }
  .mrgn_vert--80-imp {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important; }
.mrgn_vert--85 {
  margin-top: 8.5rem;
  margin-bottom: 8.5rem; }
  .mrgn_vert--85-imp {
    margin-top: 8.5rem !important;
    margin-bottom: 8.5rem !important; }
.mrgn_vert--90 {
  margin-top: 9rem;
  margin-bottom: 9rem; }
  .mrgn_vert--90-imp {
    margin-top: 9rem !important;
    margin-bottom: 9rem !important; }
.mrgn_vert--95 {
  margin-top: 9.5rem;
  margin-bottom: 9.5rem; }
  .mrgn_vert--95-imp {
    margin-top: 9.5rem !important;
    margin-bottom: 9.5rem !important; }
.mrgn_vert--100 {
  margin-top: 10rem;
  margin-bottom: 10rem; }
  .mrgn_vert--100-imp {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important; }
.mrgn_hori--0 {
  margin-right: 0;
  margin-left: 0; }
  .mrgn_hori--0-imp {
    margin-right: 0 !important;
    margin-left: 0 !important; }
.mrgn_hori--5 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }
  .mrgn_hori--5-imp {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important; }
.mrgn_hori--10 {
  margin-right: 1rem;
  margin-left: 1rem; }
  .mrgn_hori--10-imp {
    margin-right: 1rem !important;
    margin-left: 1rem !important; }
.mrgn_hori--15 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }
  .mrgn_hori--15-imp {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important; }
.mrgn_hori--20 {
  margin-right: 2rem;
  margin-left: 2rem; }
  .mrgn_hori--20-imp {
    margin-right: 2rem !important;
    margin-left: 2rem !important; }
.mrgn_hori--25 {
  margin-right: 2.5rem;
  margin-left: 2.5rem; }
  .mrgn_hori--25-imp {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important; }
.mrgn_hori--30 {
  margin-right: 3rem;
  margin-left: 3rem; }
  .mrgn_hori--30-imp {
    margin-right: 3rem !important;
    margin-left: 3rem !important; }
.mrgn_hori--35 {
  margin-right: 3.5rem;
  margin-left: 3.5rem; }
  .mrgn_hori--35-imp {
    margin-right: 3.5rem !important;
    margin-left: 3.5rem !important; }
.mrgn_hori--40 {
  margin-right: 4rem;
  margin-left: 4rem; }
  .mrgn_hori--40-imp {
    margin-right: 4rem !important;
    margin-left: 4rem !important; }
.mrgn_hori--45 {
  margin-right: 4.5rem;
  margin-left: 4.5rem; }
  .mrgn_hori--45-imp {
    margin-right: 4.5rem !important;
    margin-left: 4.5rem !important; }
.mrgn_hori--50 {
  margin-right: 5rem;
  margin-left: 5rem; }
  .mrgn_hori--50-imp {
    margin-right: 5rem !important;
    margin-left: 5rem !important; }
.mrgn_hori--55 {
  margin-right: 5.5rem;
  margin-left: 5.5rem; }
  .mrgn_hori--55-imp {
    margin-right: 5.5rem !important;
    margin-left: 5.5rem !important; }
.mrgn_hori--60 {
  margin-right: 6rem;
  margin-left: 6rem; }
  .mrgn_hori--60-imp {
    margin-right: 6rem !important;
    margin-left: 6rem !important; }
.mrgn_hori--65 {
  margin-right: 6.5rem;
  margin-left: 6.5rem; }
  .mrgn_hori--65-imp {
    margin-right: 6.5rem !important;
    margin-left: 6.5rem !important; }
.mrgn_hori--70 {
  margin-right: 7rem;
  margin-left: 7rem; }
  .mrgn_hori--70-imp {
    margin-right: 7rem !important;
    margin-left: 7rem !important; }
.mrgn_hori--75 {
  margin-right: 7.5rem;
  margin-left: 7.5rem; }
  .mrgn_hori--75-imp {
    margin-right: 7.5rem !important;
    margin-left: 7.5rem !important; }
.mrgn_hori--80 {
  margin-right: 8rem;
  margin-left: 8rem; }
  .mrgn_hori--80-imp {
    margin-right: 8rem !important;
    margin-left: 8rem !important; }
.mrgn_hori--85 {
  margin-right: 8.5rem;
  margin-left: 8.5rem; }
  .mrgn_hori--85-imp {
    margin-right: 8.5rem !important;
    margin-left: 8.5rem !important; }
.mrgn_hori--90 {
  margin-right: 9rem;
  margin-left: 9rem; }
  .mrgn_hori--90-imp {
    margin-right: 9rem !important;
    margin-left: 9rem !important; }
.mrgn_hori--95 {
  margin-right: 9.5rem;
  margin-left: 9.5rem; }
  .mrgn_hori--95-imp {
    margin-right: 9.5rem !important;
    margin-left: 9.5rem !important; }
.mrgn_hori--100 {
  margin-right: 10rem;
  margin-left: 10rem; }
  .mrgn_hori--100-imp {
    margin-right: 10rem !important;
    margin-left: 10rem !important; }
.mrgn_top--0 {
  margin-top: 0; }
  .mrgn_top--0-imp {
    margin-top: 0 !important; }
.mrgn_top--5 {
  margin-top: 0.5rem; }
  .mrgn_top--5-imp {
    margin-top: 0.5rem !important; }
.mrgn_top--10 {
  margin-top: 1rem; }
  .mrgn_top--10-imp {
    margin-top: 1rem !important; }
.mrgn_top--15 {
  margin-top: 1.5rem; }
  .mrgn_top--15-imp {
    margin-top: 1.5rem !important; }
.mrgn_top--20 {
  margin-top: 2rem; }
  .mrgn_top--20-imp {
    margin-top: 2rem !important; }
.mrgn_top--25 {
  margin-top: 2.5rem; }
  .mrgn_top--25-imp {
    margin-top: 2.5rem !important; }
.mrgn_top--30 {
  margin-top: 3rem; }
  .mrgn_top--30-imp {
    margin-top: 3rem !important; }
.mrgn_top--35 {
  margin-top: 3.5rem; }
  .mrgn_top--35-imp {
    margin-top: 3.5rem !important; }
.mrgn_top--40 {
  margin-top: 4rem; }
  .mrgn_top--40-imp {
    margin-top: 4rem !important; }
.mrgn_top--45 {
  margin-top: 4.5rem; }
  .mrgn_top--45-imp {
    margin-top: 4.5rem !important; }
.mrgn_top--50 {
  margin-top: 5rem; }
  .mrgn_top--50-imp {
    margin-top: 5rem !important; }
.mrgn_top--55 {
  margin-top: 5.5rem; }
  .mrgn_top--55-imp {
    margin-top: 5.5rem !important; }
.mrgn_top--60 {
  margin-top: 6rem; }
  .mrgn_top--60-imp {
    margin-top: 6rem !important; }
.mrgn_top--65 {
  margin-top: 6.5rem; }
  .mrgn_top--65-imp {
    margin-top: 6.5rem !important; }
.mrgn_top--70 {
  margin-top: 7rem; }
  .mrgn_top--70-imp {
    margin-top: 7rem !important; }
.mrgn_top--75 {
  margin-top: 7.5rem; }
  .mrgn_top--75-imp {
    margin-top: 7.5rem !important; }
.mrgn_top--80 {
  margin-top: 8rem; }
  .mrgn_top--80-imp {
    margin-top: 8rem !important; }
.mrgn_top--85 {
  margin-top: 8.5rem; }
  .mrgn_top--85-imp {
    margin-top: 8.5rem !important; }
.mrgn_top--90 {
  margin-top: 9rem; }
  .mrgn_top--90-imp {
    margin-top: 9rem !important; }
.mrgn_top--95 {
  margin-top: 9.5rem; }
  .mrgn_top--95-imp {
    margin-top: 9.5rem !important; }
.mrgn_top--100 {
  margin-top: 10rem; }
  .mrgn_top--100-imp {
    margin-top: 10rem !important; }
.mrgn_right--0 {
  margin-right: 0; }
  .mrgn_right--0-imp {
    margin-right: 0 !important; }
.mrgn_right--5 {
  margin-right: 0.5rem; }
  .mrgn_right--5-imp {
    margin-right: 0.5rem !important; }
.mrgn_right--10 {
  margin-right: 1rem; }
  .mrgn_right--10-imp {
    margin-right: 1rem !important; }
.mrgn_right--15 {
  margin-right: 1.5rem; }
  .mrgn_right--15-imp {
    margin-right: 1.5rem !important; }
.mrgn_right--20 {
  margin-right: 2rem; }
  .mrgn_right--20-imp {
    margin-right: 2rem !important; }
.mrgn_right--25 {
  margin-right: 2.5rem; }
  .mrgn_right--25-imp {
    margin-right: 2.5rem !important; }
.mrgn_right--30 {
  margin-right: 3rem; }
  .mrgn_right--30-imp {
    margin-right: 3rem !important; }
.mrgn_right--35 {
  margin-right: 3.5rem; }
  .mrgn_right--35-imp {
    margin-right: 3.5rem !important; }
.mrgn_right--40 {
  margin-right: 4rem; }
  .mrgn_right--40-imp {
    margin-right: 4rem !important; }
.mrgn_right--45 {
  margin-right: 4.5rem; }
  .mrgn_right--45-imp {
    margin-right: 4.5rem !important; }
.mrgn_right--50 {
  margin-right: 5rem; }
  .mrgn_right--50-imp {
    margin-right: 5rem !important; }
.mrgn_right--55 {
  margin-right: 5.5rem; }
  .mrgn_right--55-imp {
    margin-right: 5.5rem !important; }
.mrgn_right--60 {
  margin-right: 6rem; }
  .mrgn_right--60-imp {
    margin-right: 6rem !important; }
.mrgn_right--65 {
  margin-right: 6.5rem; }
  .mrgn_right--65-imp {
    margin-right: 6.5rem !important; }
.mrgn_right--70 {
  margin-right: 7rem; }
  .mrgn_right--70-imp {
    margin-right: 7rem !important; }
.mrgn_right--75 {
  margin-right: 7.5rem; }
  .mrgn_right--75-imp {
    margin-right: 7.5rem !important; }
.mrgn_right--80 {
  margin-right: 8rem; }
  .mrgn_right--80-imp {
    margin-right: 8rem !important; }
.mrgn_right--85 {
  margin-right: 8.5rem; }
  .mrgn_right--85-imp {
    margin-right: 8.5rem !important; }
.mrgn_right--90 {
  margin-right: 9rem; }
  .mrgn_right--90-imp {
    margin-right: 9rem !important; }
.mrgn_right--95 {
  margin-right: 9.5rem; }
  .mrgn_right--95-imp {
    margin-right: 9.5rem !important; }
.mrgn_right--100 {
  margin-right: 10rem; }
  .mrgn_right--100-imp {
    margin-right: 10rem !important; }
.mrgn_bottom--0 {
  margin-bottom: 0; }
  .mrgn_bottom--0-imp {
    margin-bottom: 0 !important; }
.mrgn_bottom--5 {
  margin-bottom: 0.5rem; }
  .mrgn_bottom--5-imp {
    margin-bottom: 0.5rem !important; }
.mrgn_bottom--10 {
  margin-bottom: 1rem; }
  .mrgn_bottom--10-imp {
    margin-bottom: 1rem !important; }
.mrgn_bottom--15 {
  margin-bottom: 1.5rem; }
  .mrgn_bottom--15-imp {
    margin-bottom: 1.5rem !important; }
.mrgn_bottom--20 {
  margin-bottom: 2rem; }
  .mrgn_bottom--20-imp {
    margin-bottom: 2rem !important; }
.mrgn_bottom--25 {
  margin-bottom: 2.5rem; }
  .mrgn_bottom--25-imp {
    margin-bottom: 2.5rem !important; }
.mrgn_bottom--30 {
  margin-bottom: 3rem; }
  .mrgn_bottom--30-imp {
    margin-bottom: 3rem !important; }
.mrgn_bottom--35 {
  margin-bottom: 3.5rem; }
  .mrgn_bottom--35-imp {
    margin-bottom: 3.5rem !important; }
.mrgn_bottom--40 {
  margin-bottom: 4rem; }
  .mrgn_bottom--40-imp {
    margin-bottom: 4rem !important; }
.mrgn_bottom--45 {
  margin-bottom: 4.5rem; }
  .mrgn_bottom--45-imp {
    margin-bottom: 4.5rem !important; }
.mrgn_bottom--50 {
  margin-bottom: 5rem; }
  .mrgn_bottom--50-imp {
    margin-bottom: 5rem !important; }
.mrgn_bottom--55 {
  margin-bottom: 5.5rem; }
  .mrgn_bottom--55-imp {
    margin-bottom: 5.5rem !important; }
.mrgn_bottom--60 {
  margin-bottom: 6rem; }
  .mrgn_bottom--60-imp {
    margin-bottom: 6rem !important; }
.mrgn_bottom--65 {
  margin-bottom: 6.5rem; }
  .mrgn_bottom--65-imp {
    margin-bottom: 6.5rem !important; }
.mrgn_bottom--70 {
  margin-bottom: 7rem; }
  .mrgn_bottom--70-imp {
    margin-bottom: 7rem !important; }
.mrgn_bottom--75 {
  margin-bottom: 7.5rem; }
  .mrgn_bottom--75-imp {
    margin-bottom: 7.5rem !important; }
.mrgn_bottom--80 {
  margin-bottom: 8rem; }
  .mrgn_bottom--80-imp {
    margin-bottom: 8rem !important; }
.mrgn_bottom--85 {
  margin-bottom: 8.5rem; }
  .mrgn_bottom--85-imp {
    margin-bottom: 8.5rem !important; }
.mrgn_bottom--90 {
  margin-bottom: 9rem; }
  .mrgn_bottom--90-imp {
    margin-bottom: 9rem !important; }
.mrgn_bottom--95 {
  margin-bottom: 9.5rem; }
  .mrgn_bottom--95-imp {
    margin-bottom: 9.5rem !important; }
.mrgn_bottom--100 {
  margin-bottom: 10rem; }
  .mrgn_bottom--100-imp {
    margin-bottom: 10rem !important; }
.mrgn_left--0 {
  margin-left: 0; }
  .mrgn_left--0-imp {
    margin-left: 0 !important; }
.mrgn_left--5 {
  margin-left: 0.5rem; }
  .mrgn_left--5-imp {
    margin-left: 0.5rem !important; }
.mrgn_left--10 {
  margin-left: 1rem; }
  .mrgn_left--10-imp {
    margin-left: 1rem !important; }
.mrgn_left--15 {
  margin-left: 1.5rem; }
  .mrgn_left--15-imp {
    margin-left: 1.5rem !important; }
.mrgn_left--20 {
  margin-left: 2rem; }
  .mrgn_left--20-imp {
    margin-left: 2rem !important; }
.mrgn_left--25 {
  margin-left: 2.5rem; }
  .mrgn_left--25-imp {
    margin-left: 2.5rem !important; }
.mrgn_left--30 {
  margin-left: 3rem; }
  .mrgn_left--30-imp {
    margin-left: 3rem !important; }
.mrgn_left--35 {
  margin-left: 3.5rem; }
  .mrgn_left--35-imp {
    margin-left: 3.5rem !important; }
.mrgn_left--40 {
  margin-left: 4rem; }
  .mrgn_left--40-imp {
    margin-left: 4rem !important; }
.mrgn_left--45 {
  margin-left: 4.5rem; }
  .mrgn_left--45-imp {
    margin-left: 4.5rem !important; }
.mrgn_left--50 {
  margin-left: 5rem; }
  .mrgn_left--50-imp {
    margin-left: 5rem !important; }
.mrgn_left--55 {
  margin-left: 5.5rem; }
  .mrgn_left--55-imp {
    margin-left: 5.5rem !important; }
.mrgn_left--60 {
  margin-left: 6rem; }
  .mrgn_left--60-imp {
    margin-left: 6rem !important; }
.mrgn_left--65 {
  margin-left: 6.5rem; }
  .mrgn_left--65-imp {
    margin-left: 6.5rem !important; }
.mrgn_left--70 {
  margin-left: 7rem; }
  .mrgn_left--70-imp {
    margin-left: 7rem !important; }
.mrgn_left--75 {
  margin-left: 7.5rem; }
  .mrgn_left--75-imp {
    margin-left: 7.5rem !important; }
.mrgn_left--80 {
  margin-left: 8rem; }
  .mrgn_left--80-imp {
    margin-left: 8rem !important; }
.mrgn_left--85 {
  margin-left: 8.5rem; }
  .mrgn_left--85-imp {
    margin-left: 8.5rem !important; }
.mrgn_left--90 {
  margin-left: 9rem; }
  .mrgn_left--90-imp {
    margin-left: 9rem !important; }
.mrgn_left--95 {
  margin-left: 9.5rem; }
  .mrgn_left--95-imp {
    margin-left: 9.5rem !important; }
.mrgn_left--100 {
  margin-left: 10rem; }
  .mrgn_left--100-imp {
    margin-left: 10rem !important; }

.pad_all--0 {
  padding: 0; }
  .pad_all--0-imp {
    padding: 0 !important; }
.pad_all--5 {
  padding: 0.5rem; }
  .pad_all--5-imp {
    padding: 0.5rem !important; }
.pad_all--10 {
  padding: 1rem; }
  .pad_all--10-imp {
    padding: 1rem !important; }
.pad_all--15 {
  padding: 1.5rem; }
  .pad_all--15-imp {
    padding: 1.5rem !important; }
.pad_all--20 {
  padding: 2rem; }
  .pad_all--20-imp {
    padding: 2rem !important; }
.pad_all--25 {
  padding: 2.5rem; }
  .pad_all--25-imp {
    padding: 2.5rem !important; }
.pad_all--30 {
  padding: 3rem; }
  .pad_all--30-imp {
    padding: 3rem !important; }
.pad_all--35 {
  padding: 3.5rem; }
  .pad_all--35-imp {
    padding: 3.5rem !important; }
.pad_all--40 {
  padding: 4rem; }
  .pad_all--40-imp {
    padding: 4rem !important; }
.pad_all--45 {
  padding: 4.5rem; }
  .pad_all--45-imp {
    padding: 4.5rem !important; }
.pad_all--50 {
  padding: 5rem; }
  .pad_all--50-imp {
    padding: 5rem !important; }
.pad_all--55 {
  padding: 5.5rem; }
  .pad_all--55-imp {
    padding: 5.5rem !important; }
.pad_all--60 {
  padding: 6rem; }
  .pad_all--60-imp {
    padding: 6rem !important; }
.pad_all--65 {
  padding: 6.5rem; }
  .pad_all--65-imp {
    padding: 6.5rem !important; }
.pad_all--70 {
  padding: 7rem; }
  .pad_all--70-imp {
    padding: 7rem !important; }
.pad_all--75 {
  padding: 7.5rem; }
  .pad_all--75-imp {
    padding: 7.5rem !important; }
.pad_all--80 {
  padding: 8rem; }
  .pad_all--80-imp {
    padding: 8rem !important; }
.pad_all--85 {
  padding: 8.5rem; }
  .pad_all--85-imp {
    padding: 8.5rem !important; }
.pad_all--90 {
  padding: 9rem; }
  .pad_all--90-imp {
    padding: 9rem !important; }
.pad_all--95 {
  padding: 9.5rem; }
  .pad_all--95-imp {
    padding: 9.5rem !important; }
.pad_all--100 {
  padding: 10rem; }
  .pad_all--100-imp {
    padding: 10rem !important; }
.pad_vert--0 {
  padding-top: 0;
  padding-bottom: 0; }
  .pad_vert--0-imp {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
.pad_vert--5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .pad_vert--5-imp {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important; }
.pad_vert--10 {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .pad_vert--10-imp {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important; }
.pad_vert--15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  .pad_vert--15-imp {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; }
.pad_vert--20 {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .pad_vert--20-imp {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important; }
.pad_vert--25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  .pad_vert--25-imp {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important; }
.pad_vert--30 {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .pad_vert--30-imp {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; }
.pad_vert--35 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }
  .pad_vert--35-imp {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important; }
.pad_vert--40 {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .pad_vert--40-imp {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important; }
.pad_vert--45 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }
  .pad_vert--45-imp {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important; }
.pad_vert--50 {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .pad_vert--50-imp {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important; }
.pad_vert--55 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem; }
  .pad_vert--55-imp {
    padding-top: 5.5rem !important;
    padding-bottom: 5.5rem !important; }
.pad_vert--60 {
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .pad_vert--60-imp {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important; }
.pad_vert--65 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem; }
  .pad_vert--65-imp {
    padding-top: 6.5rem !important;
    padding-bottom: 6.5rem !important; }
.pad_vert--70 {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .pad_vert--70-imp {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important; }
.pad_vert--75 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem; }
  .pad_vert--75-imp {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important; }
.pad_vert--80 {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .pad_vert--80-imp {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important; }
.pad_vert--85 {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem; }
  .pad_vert--85-imp {
    padding-top: 8.5rem !important;
    padding-bottom: 8.5rem !important; }
.pad_vert--90 {
  padding-top: 9rem;
  padding-bottom: 9rem; }
  .pad_vert--90-imp {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important; }
.pad_vert--95 {
  padding-top: 9.5rem;
  padding-bottom: 9.5rem; }
  .pad_vert--95-imp {
    padding-top: 9.5rem !important;
    padding-bottom: 9.5rem !important; }
.pad_vert--100 {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .pad_vert--100-imp {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important; }
.pad_hori--0 {
  padding-right: 0;
  padding-left: 0; }
  .pad_hori--0-imp {
    padding-right: 0 !important;
    padding-left: 0 !important; }
.pad_hori--5 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }
  .pad_hori--5-imp {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important; }
.pad_hori--10 {
  padding-right: 1rem;
  padding-left: 1rem; }
  .pad_hori--10-imp {
    padding-right: 1rem !important;
    padding-left: 1rem !important; }
.pad_hori--15 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  .pad_hori--15-imp {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; }
.pad_hori--20 {
  padding-right: 2rem;
  padding-left: 2rem; }
  .pad_hori--20-imp {
    padding-right: 2rem !important;
    padding-left: 2rem !important; }
.pad_hori--25 {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }
  .pad_hori--25-imp {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important; }
.pad_hori--30 {
  padding-right: 3rem;
  padding-left: 3rem; }
  .pad_hori--30-imp {
    padding-right: 3rem !important;
    padding-left: 3rem !important; }
.pad_hori--35 {
  padding-right: 3.5rem;
  padding-left: 3.5rem; }
  .pad_hori--35-imp {
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important; }
.pad_hori--40 {
  padding-right: 4rem;
  padding-left: 4rem; }
  .pad_hori--40-imp {
    padding-right: 4rem !important;
    padding-left: 4rem !important; }
.pad_hori--45 {
  padding-right: 4.5rem;
  padding-left: 4.5rem; }
  .pad_hori--45-imp {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important; }
.pad_hori--50 {
  padding-right: 5rem;
  padding-left: 5rem; }
  .pad_hori--50-imp {
    padding-right: 5rem !important;
    padding-left: 5rem !important; }
.pad_hori--55 {
  padding-right: 5.5rem;
  padding-left: 5.5rem; }
  .pad_hori--55-imp {
    padding-right: 5.5rem !important;
    padding-left: 5.5rem !important; }
.pad_hori--60 {
  padding-right: 6rem;
  padding-left: 6rem; }
  .pad_hori--60-imp {
    padding-right: 6rem !important;
    padding-left: 6rem !important; }
.pad_hori--65 {
  padding-right: 6.5rem;
  padding-left: 6.5rem; }
  .pad_hori--65-imp {
    padding-right: 6.5rem !important;
    padding-left: 6.5rem !important; }
.pad_hori--70 {
  padding-right: 7rem;
  padding-left: 7rem; }
  .pad_hori--70-imp {
    padding-right: 7rem !important;
    padding-left: 7rem !important; }
.pad_hori--75 {
  padding-right: 7.5rem;
  padding-left: 7.5rem; }
  .pad_hori--75-imp {
    padding-right: 7.5rem !important;
    padding-left: 7.5rem !important; }
.pad_hori--80 {
  padding-right: 8rem;
  padding-left: 8rem; }
  .pad_hori--80-imp {
    padding-right: 8rem !important;
    padding-left: 8rem !important; }
.pad_hori--85 {
  padding-right: 8.5rem;
  padding-left: 8.5rem; }
  .pad_hori--85-imp {
    padding-right: 8.5rem !important;
    padding-left: 8.5rem !important; }
.pad_hori--90 {
  padding-right: 9rem;
  padding-left: 9rem; }
  .pad_hori--90-imp {
    padding-right: 9rem !important;
    padding-left: 9rem !important; }
.pad_hori--95 {
  padding-right: 9.5rem;
  padding-left: 9.5rem; }
  .pad_hori--95-imp {
    padding-right: 9.5rem !important;
    padding-left: 9.5rem !important; }
.pad_hori--100 {
  padding-right: 10rem;
  padding-left: 10rem; }
  .pad_hori--100-imp {
    padding-right: 10rem !important;
    padding-left: 10rem !important; }
.pad_top--0 {
  padding-top: 0; }
  .pad_top--0-imp {
    padding-top: 0 !important; }
.pad_top--5 {
  padding-top: 0.5rem; }
  .pad_top--5-imp {
    padding-top: 0.5rem !important; }
.pad_top--10 {
  padding-top: 1rem; }
  .pad_top--10-imp {
    padding-top: 1rem !important; }
.pad_top--15 {
  padding-top: 1.5rem; }
  .pad_top--15-imp {
    padding-top: 1.5rem !important; }
.pad_top--20 {
  padding-top: 2rem; }
  .pad_top--20-imp {
    padding-top: 2rem !important; }
.pad_top--25 {
  padding-top: 2.5rem; }
  .pad_top--25-imp {
    padding-top: 2.5rem !important; }
.pad_top--30 {
  padding-top: 3rem; }
  .pad_top--30-imp {
    padding-top: 3rem !important; }
.pad_top--35 {
  padding-top: 3.5rem; }
  .pad_top--35-imp {
    padding-top: 3.5rem !important; }
.pad_top--40 {
  padding-top: 4rem; }
  .pad_top--40-imp {
    padding-top: 4rem !important; }
.pad_top--45 {
  padding-top: 4.5rem; }
  .pad_top--45-imp {
    padding-top: 4.5rem !important; }
.pad_top--50 {
  padding-top: 5rem; }
  .pad_top--50-imp {
    padding-top: 5rem !important; }
.pad_top--55 {
  padding-top: 5.5rem; }
  .pad_top--55-imp {
    padding-top: 5.5rem !important; }
.pad_top--60 {
  padding-top: 6rem; }
  .pad_top--60-imp {
    padding-top: 6rem !important; }
.pad_top--65 {
  padding-top: 6.5rem; }
  .pad_top--65-imp {
    padding-top: 6.5rem !important; }
.pad_top--70 {
  padding-top: 7rem; }
  .pad_top--70-imp {
    padding-top: 7rem !important; }
.pad_top--75 {
  padding-top: 7.5rem; }
  .pad_top--75-imp {
    padding-top: 7.5rem !important; }
.pad_top--80 {
  padding-top: 8rem; }
  .pad_top--80-imp {
    padding-top: 8rem !important; }
.pad_top--85 {
  padding-top: 8.5rem; }
  .pad_top--85-imp {
    padding-top: 8.5rem !important; }
.pad_top--90 {
  padding-top: 9rem; }
  .pad_top--90-imp {
    padding-top: 9rem !important; }
.pad_top--95 {
  padding-top: 9.5rem; }
  .pad_top--95-imp {
    padding-top: 9.5rem !important; }
.pad_top--100 {
  padding-top: 10rem; }
  .pad_top--100-imp {
    padding-top: 10rem !important; }
.pad_right--0 {
  padding-right: 0; }
  .pad_right--0-imp {
    padding-right: 0 !important; }
.pad_right--5 {
  padding-right: 0.5rem; }
  .pad_right--5-imp {
    padding-right: 0.5rem !important; }
.pad_right--10 {
  padding-right: 1rem; }
  .pad_right--10-imp {
    padding-right: 1rem !important; }
.pad_right--15 {
  padding-right: 1.5rem; }
  .pad_right--15-imp {
    padding-right: 1.5rem !important; }
.pad_right--20 {
  padding-right: 2rem; }
  .pad_right--20-imp {
    padding-right: 2rem !important; }
.pad_right--25 {
  padding-right: 2.5rem; }
  .pad_right--25-imp {
    padding-right: 2.5rem !important; }
.pad_right--30 {
  padding-right: 3rem; }
  .pad_right--30-imp {
    padding-right: 3rem !important; }
.pad_right--35 {
  padding-right: 3.5rem; }
  .pad_right--35-imp {
    padding-right: 3.5rem !important; }
.pad_right--40 {
  padding-right: 4rem; }
  .pad_right--40-imp {
    padding-right: 4rem !important; }
.pad_right--45 {
  padding-right: 4.5rem; }
  .pad_right--45-imp {
    padding-right: 4.5rem !important; }
.pad_right--50 {
  padding-right: 5rem; }
  .pad_right--50-imp {
    padding-right: 5rem !important; }
.pad_right--55 {
  padding-right: 5.5rem; }
  .pad_right--55-imp {
    padding-right: 5.5rem !important; }
.pad_right--60 {
  padding-right: 6rem; }
  .pad_right--60-imp {
    padding-right: 6rem !important; }
.pad_right--65 {
  padding-right: 6.5rem; }
  .pad_right--65-imp {
    padding-right: 6.5rem !important; }
.pad_right--70 {
  padding-right: 7rem; }
  .pad_right--70-imp {
    padding-right: 7rem !important; }
.pad_right--75 {
  padding-right: 7.5rem; }
  .pad_right--75-imp {
    padding-right: 7.5rem !important; }
.pad_right--80 {
  padding-right: 8rem; }
  .pad_right--80-imp {
    padding-right: 8rem !important; }
.pad_right--85 {
  padding-right: 8.5rem; }
  .pad_right--85-imp {
    padding-right: 8.5rem !important; }
.pad_right--90 {
  padding-right: 9rem; }
  .pad_right--90-imp {
    padding-right: 9rem !important; }
.pad_right--95 {
  padding-right: 9.5rem; }
  .pad_right--95-imp {
    padding-right: 9.5rem !important; }
.pad_right--100 {
  padding-right: 10rem; }
  .pad_right--100-imp {
    padding-right: 10rem !important; }
.pad_bottom--0 {
  padding-bottom: 0; }
  .pad_bottom--0-imp {
    padding-bottom: 0 !important; }
.pad_bottom--5 {
  padding-bottom: 0.5rem; }
  .pad_bottom--5-imp {
    padding-bottom: 0.5rem !important; }
.pad_bottom--10 {
  padding-bottom: 1rem; }
  .pad_bottom--10-imp {
    padding-bottom: 1rem !important; }
.pad_bottom--15 {
  padding-bottom: 1.5rem; }
  .pad_bottom--15-imp {
    padding-bottom: 1.5rem !important; }
.pad_bottom--20 {
  padding-bottom: 2rem; }
  .pad_bottom--20-imp {
    padding-bottom: 2rem !important; }
.pad_bottom--25 {
  padding-bottom: 2.5rem; }
  .pad_bottom--25-imp {
    padding-bottom: 2.5rem !important; }
.pad_bottom--30 {
  padding-bottom: 3rem; }
  .pad_bottom--30-imp {
    padding-bottom: 3rem !important; }
.pad_bottom--35 {
  padding-bottom: 3.5rem; }
  .pad_bottom--35-imp {
    padding-bottom: 3.5rem !important; }
.pad_bottom--40 {
  padding-bottom: 4rem; }
  .pad_bottom--40-imp {
    padding-bottom: 4rem !important; }
.pad_bottom--45 {
  padding-bottom: 4.5rem; }
  .pad_bottom--45-imp {
    padding-bottom: 4.5rem !important; }
.pad_bottom--50 {
  padding-bottom: 5rem; }
  .pad_bottom--50-imp {
    padding-bottom: 5rem !important; }
.pad_bottom--55 {
  padding-bottom: 5.5rem; }
  .pad_bottom--55-imp {
    padding-bottom: 5.5rem !important; }
.pad_bottom--60 {
  padding-bottom: 6rem; }
  .pad_bottom--60-imp {
    padding-bottom: 6rem !important; }
.pad_bottom--65 {
  padding-bottom: 6.5rem; }
  .pad_bottom--65-imp {
    padding-bottom: 6.5rem !important; }
.pad_bottom--70 {
  padding-bottom: 7rem; }
  .pad_bottom--70-imp {
    padding-bottom: 7rem !important; }
.pad_bottom--75 {
  padding-bottom: 7.5rem; }
  .pad_bottom--75-imp {
    padding-bottom: 7.5rem !important; }
.pad_bottom--80 {
  padding-bottom: 8rem; }
  .pad_bottom--80-imp {
    padding-bottom: 8rem !important; }
.pad_bottom--85 {
  padding-bottom: 8.5rem; }
  .pad_bottom--85-imp {
    padding-bottom: 8.5rem !important; }
.pad_bottom--90 {
  padding-bottom: 9rem; }
  .pad_bottom--90-imp {
    padding-bottom: 9rem !important; }
.pad_bottom--95 {
  padding-bottom: 9.5rem; }
  .pad_bottom--95-imp {
    padding-bottom: 9.5rem !important; }
.pad_bottom--100 {
  padding-bottom: 10rem; }
  .pad_bottom--100-imp {
    padding-bottom: 10rem !important; }
.pad_left--0 {
  padding-left: 0; }
  .pad_left--0-imp {
    padding-left: 0 !important; }
.pad_left--5 {
  padding-left: 0.5rem; }
  .pad_left--5-imp {
    padding-left: 0.5rem !important; }
.pad_left--10 {
  padding-left: 1rem; }
  .pad_left--10-imp {
    padding-left: 1rem !important; }
.pad_left--15 {
  padding-left: 1.5rem; }
  .pad_left--15-imp {
    padding-left: 1.5rem !important; }
.pad_left--20 {
  padding-left: 2rem; }
  .pad_left--20-imp {
    padding-left: 2rem !important; }
.pad_left--25 {
  padding-left: 2.5rem; }
  .pad_left--25-imp {
    padding-left: 2.5rem !important; }
.pad_left--30 {
  padding-left: 3rem; }
  .pad_left--30-imp {
    padding-left: 3rem !important; }
.pad_left--35 {
  padding-left: 3.5rem; }
  .pad_left--35-imp {
    padding-left: 3.5rem !important; }
.pad_left--40 {
  padding-left: 4rem; }
  .pad_left--40-imp {
    padding-left: 4rem !important; }
.pad_left--45 {
  padding-left: 4.5rem; }
  .pad_left--45-imp {
    padding-left: 4.5rem !important; }
.pad_left--50 {
  padding-left: 5rem; }
  .pad_left--50-imp {
    padding-left: 5rem !important; }
.pad_left--55 {
  padding-left: 5.5rem; }
  .pad_left--55-imp {
    padding-left: 5.5rem !important; }
.pad_left--60 {
  padding-left: 6rem; }
  .pad_left--60-imp {
    padding-left: 6rem !important; }
.pad_left--65 {
  padding-left: 6.5rem; }
  .pad_left--65-imp {
    padding-left: 6.5rem !important; }
.pad_left--70 {
  padding-left: 7rem; }
  .pad_left--70-imp {
    padding-left: 7rem !important; }
.pad_left--75 {
  padding-left: 7.5rem; }
  .pad_left--75-imp {
    padding-left: 7.5rem !important; }
.pad_left--80 {
  padding-left: 8rem; }
  .pad_left--80-imp {
    padding-left: 8rem !important; }
.pad_left--85 {
  padding-left: 8.5rem; }
  .pad_left--85-imp {
    padding-left: 8.5rem !important; }
.pad_left--90 {
  padding-left: 9rem; }
  .pad_left--90-imp {
    padding-left: 9rem !important; }
.pad_left--95 {
  padding-left: 9.5rem; }
  .pad_left--95-imp {
    padding-left: 9.5rem !important; }
.pad_left--100 {
  padding-left: 10rem; }
  .pad_left--100-imp {
    padding-left: 10rem !important; }

.txt_left {
  text-align: left; }
  .txt_left--imp {
    text-align: left !important; }
.txt_center {
  text-align: center; }
  .txt_center--imp {
    text-align: center !important; }
.txt_right {
  text-align: right; }
  .txt_right--imp {
    text-align: right !important; }
.txt_justify {
  text-align: justify; }
  .txt_justify--imp {
    text-align: justify !important; }
.txt_uppercase {
  text-transform: uppercase; }
  .txt_uppercase--imp {
    text-transform: uppercase !important; }

.font_weight--300 {
  font-weight: 300; }
  .font_weight--300-imp {
    font-weight: 300 !important; }
.font_weight--400 {
  font-weight: 400; }
  .font_weight--400-imp {
    font-weight: 400 !important; }
.font_weight--600 {
  font-weight: 600; }
  .font_weight--600-imp {
    font-weight: 600 !important; }
.font_weight--700 {
  font-weight: 700; }
  .font_weight--700-imp {
    font-weight: 700 !important; }
.font_weight--800 {
  font-weight: 800; }
  .font_weight--800-imp {
    font-weight: 800 !important; }
.font_size--10px {
  font-size: 1rem; }
  .font_size--10px-imp {
    font-size: 1rem !important; }
.font_size--12px {
  font-size: 1.2rem; }
  .font_size--12px-imp {
    font-size: 1.2rem !important; }
.font_size--14px {
  font-size: 1.4rem; }
  .font_size--14px-imp {
    font-size: 1.4rem !important; }
.font_size--16px {
  font-size: 1.6rem; }
  .font_size--16px-imp {
    font-size: 1.6rem !important; }
.font_size--18px {
  font-size: 1.8rem; }
  .font_size--18px-imp {
    font-size: 1.8rem !important; }
.font_size--20px {
  font-size: 2rem; }
  .font_size--20px-imp {
    font-size: 2rem !important; }

.border_none {
  border: none; }
  .border_none--imp {
    border: none !important; }

.border_radius--0 {
  border-radius: 0; }
  .border_radius--0-imp {
    border-radius: 0 !important; }
.border_radius--3 {
  border-radius: 0.3rem; }
  .border_radius--3-imp {
    border-radius: 0.3rem !important; }
.border_radius--35 {
  border-radius: 3.5rem; }
  .border_radius--35-imp {
    border-radius: 3.5rem !important; }
.border_radius--100 {
  border-radius: 100%; }
  .border_radius--100-imp {
    border-radius: 100% !important; }

.bg_none {
  background: none; }
  .bg_none--imp {
    background: none !important; }

.outline_zero {
  outline: 0; }
  .outline_zero--imp {
    outline: 0 !important; }

.img--responsive {
  max-width: 100%;
  max-height: auto;
  display: block; }

.color_white {
  color: #fff; }
  .color_white--imp {
    color: #fff !important; }
.color_black {
  color: #000; }
  .color_black--imp {
    color: #000 !important; }
.color_primary {
  color: #f2ef3b; }
  .color_primary--imp {
    color: #f2ef3b !important; }
.color_secondary {
  color: #99f23a; }
  .color_secondary--imp {
    color: #99f23a !important; }
.color_accent {
  color: #f2933a; }
  .color_accent--imp {
    color: #f2933a !important; }

.bg_white {
  background-color: #fff; }
  .bg_white--imp {
    background-color: #fff !important; }
.bg_black {
  background-color: #000; }
  .bg_black--imp {
    background-color: #000 !important; }
.bg_primary {
  background-color: #f2ef3b; }
  .bg_primary--imp {
    background-color: #f2ef3b !important; }
.bg_secondary {
  background-color: #99f23a; }
  .bg_secondary--imp {
    background-color: #99f23a !important; }
.bg_accent {
  background-color: #f2933a; }
  .bg_accent--imp {
    background-color: #f2933a !important; }

.fill_white {
  color: #fff; }
  .fill_white--imp {
    color: #fff !important; }
.fill_black {
  color: #000; }
  .fill_black--imp {
    color: #000 !important; }
.fill_primary {
  color: #f2ef3b; }
  .fill_primary--imp {
    color: #f2ef3b !important; }
.fill_secondary {
  color: #99f23a; }
  .fill_secondary--imp {
    color: #99f23a !important; }
.fill_accent {
  color: #f2933a; }
  .fill_accent--imp {
    color: #f2933a !important; }

.stroke_white {
  background-color: #fff; }
  .stroke_white--imp {
    background-color: #fff !important; }
.stroke_black {
  background-color: #000; }
  .stroke_black--imp {
    background-color: #000 !important; }
.stroke_primary {
  background-color: #f2ef3b; }
  .stroke_primary--imp {
    background-color: #f2ef3b !important; }
.stroke_secondary {
  background-color: #99f23a; }
  .stroke_secondary--imp {
    background-color: #99f23a !important; }
.stroke_accent {
  background-color: #f2933a; }
  .stroke_accent--imp {
    background-color: #f2933a !important; }

html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  font-size: 0.625rem;
  line-height: 2.4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #333;
  background-color: #EAF0F4;
  overflow: hidden;
  overflow-x: hidden; }

h1, .h1 {
  font-size: 3.6rem; }

h2, .h2 {
  font-size: 3rem; }

h3, .h3 {
  font-size: 2.4rem; }

h4, .h4 {
  font-size: 2rem; }

h5, .h5 {
  font-size: 1.8rem; }

h6, .h6 {
  font-size: 1.6rem; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  font-weight: 700;
  color: #333;
  text-decoration: none;
  transition: color 0.2s linear 0.1s; }
  a:hover {
    color: #030303;
    transition: color 0.2s linear 0.1s; }
  a:active {
    color: #050505; }
  a:focus {
    outline: 0; }

button:focus {
  outline: 0; }

.remove_mrgn--bottom {
  margin-bottom: 0; }
  .remove_mrgn--bottom blockquote,
  .remove_mrgn--bottom canvas, .remove_mrgn--bottom dd, .remove_mrgn--bottom dl,
  .remove_mrgn--bottom fieldset, .remove_mrgn--bottom figcaption,
  .remove_mrgn--bottom form, .remove_mrgn--bottom h1, .remove_mrgn--bottom h2, .remove_mrgn--bottom h3,
  .remove_mrgn--bottom h4, .remove_mrgn--bottom h5, .remove_mrgn--bottom h6, .remove_mrgn--bottom hgroup,
  .remove_mrgn--bottom hr, .remove_mrgn--bottom main, .remove_mrgn--bottom noscript,
  .remove_mrgn--bottom ol, .remove_mrgn--bottom output, .remove_mrgn--bottom p, .remove_mrgn--bottom pre, .remove_mrgn--bottom table, .remove_mrgn--bottom tfoot, .remove_mrgn--bottom ul,
  .remove_mrgn--bottom video {
    margin-bottom: 0; }

.bttn__lab {
  margin: 3rem; }
.bttn__dvbtn {
  margin: 1rem;
  height: 5rem;
  width: 20rem;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #36a2eb;
  border-radius: 4px; }
  .bttn__dvbtn:hover {
    color: #fff;
    background-color: #36a2eb; }
  .bttn__dvbtn:focus {
    color: #fff;
    background-color: #36a2eb; }
.bttn__modbtn {
  height: 85px;
  width: 45%;
  color: #fff;
  background-color: #AAB6D1;
  border-radius: 0px; }
.bttn__okbtn {
  height: 85px;
  width: 45%;
  border-radius: 0px; }
.bttn__redbtn {
  width: 100%;
  height: 5rem;
  color: #fff;
  background-color: #E02A2A; }
  .bttn__redbtn:hover {
    color: #fff; }
  .bttn__redbtn:focus {
    color: #fff; }
.bttn__obtn {
  width: 100%;
  height: 5rem;
  color: #fff;
  background-color: #F3B13A; }
  .bttn__obtn:hover {
    color: #fff; }
  .bttn__obtn:focus {
    color: #fff; }
.bttn__que {
  width: 95%;
  height: 100%;
  text-align: start;
  background-color: #fff;
  border: 1px solid #fff; }
.bttn__basicbtn {
  margin-right: 2rem;
  height: 6rem;
  width: 22%;
  color: #fff;
  background-color: #1976D2;
  border-radius: 0px; }
.bttn__basebtn {
  margin: 1rem;
  height: 5rem;
  width: 25rem;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  background-color: #00C853; }
  .bttn__basebtn:hover {
    background-color: #00C853;
    color: #fff; }
.bttn__boxbtn {
  margin: 1rem;
  height: 5rem;
  width: 25rem;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border-radius: 0px;
  background-color: #62BEF6; }
  .bttn__boxbtn:hover {
    background-color: #62BEF6;
    color: #fff; }
.bttn__bbtn {
  margin: 1rem;
  height: 5rem;
  width: 14rem;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background-color: #F3B13A;
  border-radius: 4px; }
  .bttn__bbtn:hover {
    background-color: #F3B13A;
    color: #fff; }
.bttn__stbtn {
  margin: 1rem;
  height: 5rem;
  width: 14rem;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border-radius: 0px;
  background-color: #848E93;
  border-radius: 4px;
  opacity: 0.3; }
  .bttn__stbtn:hover {
    background-color: #848E93;
    color: #fff; }
.bttn__del {
  position: absolute !important;
  margin: 1rem;
  right: 0;
  height: 5rem;
  width: 6rem;
  border-radius: 0px; }
  .bttn__del:hover {
    background-color: #fff; }

#reactive-table-orders td {
  background: #fff; }

#reactive-table-patients tr {
  background: #fff; }

.reactive-table-options {
  margin-top: 2rem;
  float: left !important; }
  .reactive-table-options .reactive-table-filter {
    float: left !important; }

.refId a {
  font-weight: 400 !important;
  color: #42A5F5; }

.modal.fade .modal-dialog {
  margin-top: 0;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: -16px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 100px, 0);
  opacity: 1; }

.chkform__modcon {
  border-radius: 0px; }
.chkform__modfoo {
  border-top: none; }
.chkform__modbo {
  text-align: center;
  font-size: x-large; }
.chkform__modimg {
  padding: 2rem;
  text-align: center; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153, 204, 51, 0.9); }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative; }
    .overlay ul li {
      display: block;
      height: 20%;
      height: calc(100% / 5);
      min-height: 54px; }
      .overlay ul li a {
        font-weight: 300;
        display: block;
        color: #fff;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        .overlay ul li a:hover {
          color: #e3fcb1; }
        .overlay ul li a:focus {
          color: #e3fcb1; }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s; }
    .overlay-hugeinc nav {
      -webkit-perspective: 1200px;
      perspective: 1200px; }
      .overlay-hugeinc nav ul {
        opacity: 0.4;
        -webkit-transform: translateY(-25%) rotateX(35deg);
        transform: translateY(-25%) rotateX(35deg);
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s; }
  .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(/images/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100; }

section {
  padding: 1em 2em 5em;
  text-align: center;
  font-size: 1.5em; }

section p {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0; }

section button {
  border: none;
  padding: 15px 30px;
  outline: none;
  background: #85b91e; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }
.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg); }

/*@ sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
